@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fall {
    0% {
      transform: translateY(-30vh) rotate(0deg);
      opacity: 1;
    }

    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes reveal-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes reveal-right {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes scale-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fall {
    animation: fall 4s linear infinite both;
  }

  .animate-reveal-left {
    animation: reveal-left 1s ease-in-out forwards;
  }

  .animate-reveal-right {
    animation: reveal-right 1s ease-in-out forwards;
  }

  .animate-scale-in {
    animation: scale-in 0.8s ease-out forwards;
    opacity: 0;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }
}